@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: inherit;
  text-decoration: inherit;
}

.button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 26px;
  padding: 12px 32px;
  outline: 4px solid #FCFCFC66;
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 12px #2d34401A;
}

.button:hover {
  background-color: #FCFCFC66;
  outline: 4px solid #FCFCFC;
}

.button:active {
  background-color: #FCFCFC;
  outline: 2px solid #2D3440;
}

.button:focus {
  background-color: #FCFCFC80;
  outline: 2px solid #2D3440;
  outline-offset: 0;
}

.button:disabled {
  background-color: #E7E7E7;
  outline: 4px solid #FCFCFC66;
  outline-offset: 0;
  color: #B9B9B9;
  font-weight: 400;
}

.button-red {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 26px;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: 4px solid #FF2F644D;
}

.button-red:hover {
  background-color: #FCFCFC66;
  outline: 4px solid #FF2F64;
  color: #2D3440;
}

.button-red:active {
  background-color: #FEAFC3;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px #2d34401A;
}

.button-red:focus {
  background-color: #FF2F64;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px #2d34401A;
}

.button-red:disabled {
  background-color: #B9B9B9;
  outline: 4px solid #B9B9B94D;
  color: #565C66;
  font-weight: 400;
}

.index-body,
.catalog-body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2D3440;
  width: 100%;
  position: relative;
  min-width: 1366px;
}

.index-body {
  display: flex;
}

.index-body__scroll-cover {
  width: 15px;
  height: auto;
  background-color: #F0F0F0;
}

.catalog-body {
  background-color: #FEAFC3;
}

.index-body--pink {
  background-color: #FEAFC3;
}

.index-body--blue {
  background-color: #69A9FF;
}

.index-body--yellow {
  background-color: #FCC850;
}

.index-body__container,
.catalog-body__container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  min-height: 104px;
  justify-content: space-between;
}

.header__left-part,
.header__right-part {
  display: flex;
}

.header__left-part {
  margin-top: 24px;
}

.header__right-part {
  margin-top: 37px;
}

.header__logo {
  margin-bottom: auto;
  margin-right: 16px;
}

.header__navigation {
  margin-top: 10px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 570px;
}

.header-menu__item {
  position: relative;
}

.header-menu__text {
  display: block;
  min-height: 36px;
  width: fit-content;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 8px;
  border-radius: 30px;
  max-width: 550px;
}

.header-menu__text:hover {
  background-color: #FCFCFC80;
  border-radius: 30px;
}

.header-menu__item:active {
  background-color: #FCFCFC;
  border-radius: 30px;
}

.header-menu__text:focus-visible {
  border-radius: 30px;
  outline: 2px solid #2D3440;
  background-color: #FCFCFC80;
  outline-offset: 0;
}

.header-menu__text--selected,
.header-menu__text--selected:hover,
.header-menu__text--selected:focus {
  background-color: #FF4A78;
  border-radius: 30px;
  color: #FCFCFC;
}

.dropdown-menu {
  background-color: #FCFCFC;
  width: 135px;
  min-height: 96px;
  position: absolute;
  top: 44px;
  left: 2px;
  z-index: 2;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 8px;
  box-shadow: 0 15px 40px #2d34401F;
}

.dropdown-menu__item {
  min-width: 110px;
  position: relative;
}

.dropdown-menu__item:not(.dropdown-menu__item--current):hover {
  background-color: #FFCBD8;
}

.dropdown-menu__item:active {
  background-color: #FF7799;
}

.dropdown-menu__item--current,
.dropdown-menu__item--current:hover,
.dropdown-menu__item--current:active {
  background-color: #FF4A78;
  position: relative;
}

.dropdown-menu__item--current .dropdown-menu__text {
  color: #FCFCFC;
}

.dropdown-menu__item:last-of-type {
  margin-bottom: 0;
}

.dropdown-menu__item--highlighted {
  padding-bottom: 0;
}

.dropdown-menu__text {
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
  margin: 0;
  white-space: nowrap;
  min-height: 32px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
}

.dropdown-menu__item--highlighted .dropdown-menu__text {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  margin: 0;
  padding-bottom: 16px;
  background-image: url("../images/menu-splitter.svg");
  background-repeat: no-repeat;
  background-position: 16px 37px;
}

.header__popup-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 447px;
}

.header__phone {
  margin-top: 4px;
  display: block;
  margin-right: 16px;
  font-weight: 700;
  width: 148px;
  height: fit-content;
}

.header__search-container {
  background-color: #FCFCFC4D;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: 9px 8px;
  border-radius: 27px;
  width: 32px;
  height: 32px;
  text-indent: -9999em;
  margin-right: 16px;
  position: relative;
}

.header__search-container--selected {
  background-image: url("../images/search-selected.svg");
  background-color: #FF4A78;
}


.header__search-container:hover {
  background-color: #FCFCFC80;
}

.header__search-container:active {
  background-color: #FCFCFC;
}

.header__search-container:active ~ .header__search-button {
  outline: none;
}

.header__search-container--selected:hover,
.header__search-container--selected:focus {
  outline: none;
  background-color: #FF4A78;
}

.header__search-button {
  cursor: pointer;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 27px;
}

.header__search-button:focus-visible {
  outline: 2px solid #2D3440;
  border-radius: 50%;
  outline-offset: 0;
}

.search-popup {
  background-color: #FCFCFC;
  width: 356px;
  min-height: 96px;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 3;
  border-radius: 4px;
  padding: 24px 16px;
  box-shadow: 0 15px 40px #2d34401F;
}

.search-popup__input {
  display: block;
  width: 324px;
  height: 48px;
  border: none;
  outline: 1px solid #B9B9B9;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
}

.search-popup__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-image: url("../images/search-cross.svg");
  opacity: 0.4;
  margin-right: 15px;
}

.search-popup__input::placeholder {
  color: #B9B9B9;
}

.header__login-container {
  min-width: 88px;
  height: fit-content;
  background-image: url("../images/login-icon.svg");
  background-repeat: no-repeat;
  background-position: 17px 7px;
  background-color: #FCFCFC4D;
  border-radius: 30px;
  text-align: center;
  margin-right: 16px;
  position: relative;
}

.header__login-container--selected {
  background-image: url("../images/login-icon-selected.svg");
  background-color: #FF4A78;
  color: #FCFCFC;
}

.header__login-container:hover {
  background-color: #FCFCFC80;
}

.header__login-container:active {
  background-color: #FCFCFC;
}

.header__login-container:active ~ .header__login-button {
  outline: none;
}

.header__login-container--selected:hover,
.header__login-container--selected:focus {
  outline: none;
  background-color: #FF4A78;
}

.header__login-button {
  display: block;
  min-width: 88px;
  min-height: 32px;
  padding-top: 5px;
  padding-right: 16px;
  cursor: pointer;
  border-radius: 30px;
  text-align: right;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.header__login-button:focus-visible {
  outline: 2px solid #2D3440;
  border-radius: 30px;
  outline-offset: 0;
}

.login-popup {
  background-color: #FCFCFC;
  width: 420px;
  min-height: 350px;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 3;
  border-radius: 4px;
  padding: 48px;
  padding-bottom: 52px;
  box-shadow: 0 15px 40px #2d34401F;
}

.login-popup__caption {
  font-family: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
  margin: 0;
  text-align: left;
  margin-bottom: 32px;
}

.login-popup__input {
  width: 324px;
  height: 48px;
  border: none;
  outline: 1px solid #B9B9B9;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
}

.login-email {
  margin-bottom: 16px;
}

.login-password {
  margin-bottom: 32px;
}

.login-popup__bottom-container {
  display: flex;
  gap: 0 23px;
}

.login-popup__button {
  display: block;
}

.login-popup__link {
  display: block;
  width: fit-content;
  text-align: left;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
  margin: 0;
  border-bottom: 1px solid #2D3440;
}

.header__basket-container {
  width: fit-content;
  height: fit-content;
  background-image: url("../images/basket-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px 8px;
  background-color: #FCFCFC4D;
  border-radius: 30px;
  text-align: center;
  position: relative;
}

.header__basket-container--selected {
  background-image: url("../images/basket-icon-selected.svg");
  background-color: #FF4A78;
  color: #FCFCFC;
}

.header__basket-container:hover {
  background-color: #FCFCFC80;
}

.header__basket-container:active {
  background-color: #FCFCFC;
}

.header__basket-container:active ~ .header__basket-button {
  outline: none;
}

.header__basket-container--selected:hover,
.header__basket-container--selected:focus {
  outline: none;
  background-color: #FF4A78;
}

.header__basket-button {
  display: block;
  min-width: 115px;
  min-height: 31px;
  padding-top: 5px;
  padding-right: 16px;
  cursor: pointer;
  border-radius: 30px;
  text-align: right;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.header__basket-button:focus-visible {
  outline: 2px solid #2D3440;
  border-radius: 30px;
  outline-offset: 0;
}

.empty-popup {
  background-color: #FCFCFC;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 3;
  border-radius: 4px;
  padding-top: 48px;
  padding-bottom: 48px;
  box-shadow: 0 15px 40px #2d34401F;
  width: fit-content;
}

.empty-popup__text {
  font-family: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
  margin: 0;
  display: block;
  width: 288px;
}

.basket-popup {
  background-color: #FCFCFC;
  width: 441px;
  min-height: 382px;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 3;
  border-radius: 4px;
  padding: 48px;
  box-shadow: 0 15px 40px #2d34401F;
}

.basket-popup__caption {
  font-family: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
  margin: 0;
  text-align: left;
  margin-bottom: 32px;
}

.basket-popup__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.basket-popup__item:last-of-type {
  border-bottom: 1px solid #E7E7E7;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.basket-popup__left-side-container {
  display: flex;
}

.basket-popup__right-side-container {
  display: flex;
  align-items: center;
}

.basket-popup__image {
  margin-right: 16px;
}

.basket-popup__label {
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2D3440;
  margin: 0;
  text-align: left;
}

.basket-popup__calculation {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #B9B9B9;
  margin: 0;
  text-align: left;
}

.basket-popup__order {
  max-width: 200px;
}

.basket-popup__summ {
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2D3440;
  margin: 0;
  display: block;
}

.basket-popup__remove {
  width: 16px;
  height: 16px;
  text-indent: -9999em;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  background-color: #FCFCFC;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 52px;
}

.basket-popup__bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-popup__grand-total {
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2D3440;
  margin: 0;
  margin-right: 3px;
}

.slider {
  position: relative;
  margin-bottom: 75px;
}

.slider__list {
  display: flex;
}


.slider__item {
  display: flex;
  position: relative;
}

.slider__item--inactive {
  display: block;
}

.slider__text-container {
  margin-left: 70px;
  margin-right: 4px;
}

.slider__caption {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  color: #2D3440;
  width: 470px;
  margin-top: 136px;
  margin-bottom: 0;
}

.slider__item--inactive .slider__caption {
  display: none;
}

.slider__description {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  max-width: 414px;
  margin-top: 24px;
}

.slider__item--inactive .slider__description {
  display: none;
}

.slider__item--inactive .button {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider__order-button {
  display: block;
  max-width: fit-content;
  margin-top: 48px;
}

.slider__image-switch-button {
  text-indent: -9999em;
  white-space: nowrap;
  overflow: hidden;
  width: 38px;
  height: 38px;
  background-color: #FCFCFC4D;
  border: none;
  outline: 2px solid #FCFCFC;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  outline-offset: -1px;
}

.slider__image-switch-button:hover {
  background-color: #FCFCFC;
}

.slider__image-switch-button:active {
  background-color: #FCFCFC80;
  outline: none;
}

.slider__image-switch-button:focus-visible {
  background-color: #FCFCFC4D;
  outline: 2px solid #2D3440;
}

.slider__image-switch-button:disabled {
  background-color: #FCFCFC4D;
  outline: 2px solid #FCFCFC;
  opacity: 0.4;
}

.previous {
  position: absolute;
  top: 258px;
  left: 542px;
  background-image: url("../images/slider-left.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.previous:hover,
.previous:active,
.previous:focus-visible {
  background-image: url("../images/pagination-left.svg");
}

.previous:disabled {
  background-image: url("../images/slider-left.svg");
}

.next {
  position: absolute;
  top: 258px;
  left: 853px;
  background-image: url("../images/slider-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.next:hover,
.next:active,
.next:focus-visible {
  background-image: url("../images/pagination-right.svg");
}

.next:disabled {
  background-image: url("../images/slider-right.svg");
}

.slider__preview {
  margin-top: 21px;
  width: 312px;
  display: block;
  z-index: 1;
  height: 507px;
}

.slider__item::after {
  content: "";
  width: 312px;
  height: 312px;
  position: absolute;
  background-color: #FCFCFC;
  opacity: 40%;
  border-radius: 50%;
  display: block;
  z-index: -1;
  top: 120px;
  left: 561px;
}

.slider__item--inactive::after {
  width: 100px;
  height: 100px;
  top: 228px;
  left: 73px;
  opacity: 20%;
}

.slider__item--inactive:last-of-type:after {
  left: 56px;
}

.slider__item--inactive .slider__preview {
  margin-left: 91px;
  width: 66px;
  height: 150px;
  margin-top: 206px;
  opacity: 40%;
}

.slider__item--inactive:last-of-type .slider__preview {
  margin-left: 74px;
}

.slider__bottom-container {
  display: flex;
  justify-content: space-between;
}

.marker-list {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.marker-list__button {
  text-indent: -9999em;
  white-space: nowrap;
  overflow: hidden;
  background-color: #E5E5E54D;
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.marker-list__button:hover {
  box-shadow: inset 0 0 0 1px #FCFCFC;
}

.marker-list__button:active {
  background-color: #E5E5E580;
  box-shadow: none;
}

.marker-list__button:focus-visible {
  background-color: #E5E5E54D;
  box-shadow: inset 0 0 0 1px #2D3440;
  outline: none;
}

.marker-list__button--active {
  background-color: #FCFCFC;
}

.slider__social {
  margin-top: 2px;
}

.social-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 400px;
}

.social-list__link {
  display: block;
  text-indent: -9999em;
  white-space: nowrap;
  overflow: hidden;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  outline: 2px solid #FCFCFC4D;
}

.social-list__link:hover {
  background-color: #2D3440;
}

.social-list__link:active {
  background-color: #2D3440;
  opacity: 50%;
}

.social-list__link:focus-visible {
  background-color: #2D3440;
  outline: 2px solid #2D3440;
  outline-offset: 0;
}

.telegram-link {
  background-image: url("../images/telegram.svg");
}

.vk-link {
  background-image: url("../images/vk.svg");
}

.youtube-link {
  background-image: url("../images/youtube.svg");
}

.gifts {
  margin-bottom: 82px;
}

.gifts__caption {
  font-style: inherit;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  width: 432px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #2D3440;
  margin-top: 0;
  margin-bottom: 54px;
}

.gifts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gifts__item {
  background-color: #FF7799;
  width: 570px;
  background-repeat: no-repeat;
  background-position: bottom right;
  border-radius: 16px;
  min-height: 268px;
}

.gifts__item--raspberry {
  background-image: url(../images/raspberry.png);
}

.gifts__item--marshmello {
  background-image: url(../images/marshmello.png);
}

.gifts__offer-caption {
  font-style: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-left: 36px;
  margin-top: 36px;
  margin-bottom: 28px;
  max-width: 328px;
}

.gifts__offer-description {
  font-style: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-left: 36px;
  margin-top: 0;
  margin-bottom: 28px;
  width: 328px;
}

.gifts__button {
  display: block;
  width: fit-content;
  margin-left: 36px;
  margin-top: 0;
  margin-bottom: 36px;
  max-width: 328px;
}

.gallery__caption {
  font-style: inherit;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  width: 527px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #2D3440;
  margin-top: 0;
  margin-bottom: 55px;
}

.gallery__shop {
  margin-bottom: 80px;
}

.shop__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px 30px;
}

.shop__card {
  background-color: #FEAFC300;
  width: 270px;
  position: relative;
  min-height: 332px;
  padding-top: 51px;
}

.shop__container {
  min-height: 281px;
  display: block;
  width: 270px;
  background-color: #FCFCFC;
  border-radius: 8px;
  top: 51px;
}

.shop__preview-image {
  position: absolute;
  left: 51px;
  top: 0;
  border-radius: 50%;
  box-shadow: 0 4px 12px #2d34401A;
}

.shop__card-content-container {
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
  padding-top: 133px;
}

.shop__caption {
  font-style: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  margin-top: 0;
  color: #2D3440;
}

.shop__description {
  font-style: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  margin-top: 0;
  color: #565C66;
}

.shop__price-container {
  display: flex;
  justify-content: space-between;
}

.shop__price {
  font-style: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #2D3440;
  min-width: 85px;
  margin-top: 4px;
  margin-bottom: 0;
}

.shop__button {
  text-indent: -9999em;
  white-space: nowrap;
  overflow: hidden;
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  border-radius: 50%;
  background-image: url(../images/cart-white.svg);
  background-repeat: no-repeat;
  background-position: 8px 8px;
  border: 0;
}

.shop__button:hover {
  background-color: #FCFCFC4D;
  background-image: url(../images/cart-black.svg);
  background-repeat: no-repeat;
  outline: 2px solid #FF2F64;
}

.shop__button:active {
  background-color: #FFCBD8;
  background-image: url(../images/basket-icon.svg);
  background-repeat: no-repeat;
  outline: 2px solid #FF2F64;
}

.shop__button:focus {
  background-color: #FF2F64;
  outline: 2px solid #2D3440;
}

.shop__button:disabled {
  background-image: url(../images/cart-grey.svg);
  background-color: #B9B9B9;
  outline: none;
}

.advantages {
  background-image: url("../images/waffle.jpg");
  background-position: -24px 0;
  padding: 24px;
  margin-bottom: 80px;
  border-radius: 16px;
}

.advantages__wrapper {
  background-color: #FFFFFF;
  border-radius: 16px;
}

.advantages__caption {
  padding-top: 56px;
  font-style: inherit;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  color: #2D3440;
  margin-top: 0;
  margin-bottom: 56px;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 32px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 56px;
}

.advantages__item {
  width: 505px;
  padding-left: 64px;
  background-repeat: no-repeat;
}

.advantages__description {
  margin: 0;
  color: #565C66;
}

.advantages__item--techno {
  background-image: url("../images/techno.svg");
}

.advantages__item--farm {
  background-image: url("../images/farm.svg");
}

.advantages__item--eco {
  background-image: url("../images/eco.svg");
}

.advantages__item--freeze {
  background-image: url("../images/freeze.svg");
}

.media {
  margin-bottom: 80px;
}

.media__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.media__item {
  width: 570px;
  min-height: 224px;
}

.blog {
  background-color: #FFFFFF;
  border-radius: 16px;
}

.blog__container {
  background-image: url("../images/serving.png");
  background-repeat: no-repeat;
  background-size: 647px;
  background-position: -4px -103px;
  padding-top: 32px;
  padding-left: 32px;
  min-height: 224px;
  border-radius: 16px;
}

.blog__new {
  font-style: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 14px;
  color: #565C66;
}

.blog__caption {
  width: 303px;
  font-style: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 0;
}

.subscription {
  background-color: #2D344000;
}

.subscription__container {
  background-image: url("../images/strippedbg.jpg");
  background-position: -23px;
  background-size: 750px;
  width: 570px;
  min-height: 224px;
  padding: 6px;
  border-radius: 16px;
}

.subscription__wrapper {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 26px;
  padding-bottom: 30px;
}

.subscription__description {
  margin-top: 0;
  width: 506px;
  font-style: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 42px;
  color: #565C66;
}

.subscription__email {
  width: 332px;
  height: 48px;
  border: none;
  outline: 1px solid #B9B9B9;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 14px;
}

.subscription__button {
  padding-bottom: 14px;
  max-width: 152px;
}

.delivery {
  background-color: #F2F2F4;
  background-image: url("../images/deliverybg.jpg");
  background-size: 1225px auto;
  background-repeat: no-repeat;
  background-position: 0 -141px;
  border-radius: 16px;
  padding: 64px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  min-height: 534px;
  margin-bottom: 80px;
}

.delivery__caption {
  font-style: inherit;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  width: 356px;
  margin-top: 103px;
  margin-bottom: 24px;
}

.delivery__description {
  font-style: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  width: 371px;
  color: #565C66;
}

.order-form {
  align-self: flex-start;
  width: 500px;
  background-color: #FCFCFC;
  border-radius: 8px;
  padding: 40px;
  padding-bottom: 42px;
}

.order-form__description {
  font-style: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  width: 380px;
  margin-bottom: 32px;
  margin-top: 0;
  color: #565C66;
}

.order-form__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 16px;
  margin-bottom: 32px;
}

.order-form__item {
  position: relative;
}

.order-form__container {
  display: flex;
  align-items: baseline;
  gap: 0 5px;
}

.order-form__label {
  display: block;
  font-style: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.order-form__tooltip {
  position: relative;
  width: 14px;
  height: 18px;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-position: 0 5px;
}

.order-form__tooltip::before {
  content: "Введите дату доставки";
  opacity: 0;
  font-style: inherit;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  display: block;
  width: 170px;
  margin: 0;
  padding: 10px 8px 10px 15px;
  background-color: #FFFFFF;
  outline: 2px solid #B9B9B9;
  position: absolute;
  top: -4px;
  left: 27px;
  z-index: 2;
  white-space: pre-line;
  border-radius: 1px;
}

.order-form__item:last-of-type .order-form__tooltip::before {
  content: "Введите название улицы, дома и квартиры";
}

.order-form__tooltip::after {
  opacity: 0;
  content: "";
  width: 32px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 16px;
  background-image: url("../images/tooltip-arrow.svg");
  background-repeat: no-repeat;
  background-size: 13px 20px;
  z-index: 3;
}

.date-label:hover ~ .date-tooltip::before {
  opacity: 100%;
}

.date-label:hover ~ .date-tooltip::after {
  opacity: 100%;
}

.address-label:hover ~ .address-tooltip::before {
  opacity: 100%;
}

.address-label:hover ~ .address-tooltip::after {
  opacity: 100%;
}

.date-tooltip:hover ~ .date-tooltip::before {
  opacity: 100%;
}

.date-tooltip:hover ~ .date-tooltip::after {
  opacity: 100%;
}

.address-tooltip:hover ~ .address-tooltip::before {
  opacity: 100%;
}

.address-tooltip:hover ~ .address-tooltip::after {
  opacity: 100%;
}

.order-form__input {
  height: 48px;
  border: none;
  outline: 1px solid #B9B9B9;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  display: block;
}

.date-input {
  width: 117px;
}

.phone-input {
  width: 287px;
}

.address-input {
  width: 420px;
}

.order-form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contacts {
  background-color: #deb5bb;
  background-image: url("../images/contactsbg.jpg");
  background-repeat: no-repeat;
  background-position: 0 -83px;
  background-size: 1170px auto;
  border-radius: 16px;
  padding: 64px;
  min-height: 492px;
}

.contacts__wrapper {
  background-color: #FCFCFC;
  width: 343px;
  min-height: 364px;
  padding: 40px;
  border-radius: 8px;
}

.contacts__address-caption {
  margin-top: 0;
  width: 179px;
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #565C66;
}

.contacts__address-description {
  display: block;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.contacts__address-text {
  font-style: normal;
}

.contacts__phone-caption {
  margin-top: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #565C66;
}

.contacts__phone-description {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 0;
}

.contacts__phone-details {
  margin-top: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 32px;
  color: #565C66;
}

.footer {
  display: grid;
  grid-template-columns: 425px 534px 1fr;
  padding-top: 44px;
  padding-left: 4px;
  padding-right: 14px;
  padding-bottom: 48px;
}

.additional-info {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 4px 3px;
  width: 400px;
  margin-bottom: auto;
}

.additional-info__item {
  min-height: 20px;
  position: relative;
}

.additional-info__link {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
}

.additional-info__link--highlighted {
  font-weight: 700;
  text-decoration: none;
}

.additional-info__item--heart::before {
  content: "";
  width: 14px;
  height: 12px;
  position: absolute;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  top: 3px;
  left: -21px;
}

.credentials__logo {
  display: block;
  text-indent: -9999em;
  white-space: nowrap;
  overflow: hidden;
  width: 93px;
  height: 27px;
  background-image: url(../images/logo_htmlacademy.svg);
  margin-bottom: 14px;
}

.credentials__signature {
  margin: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #2D3440;
}

.credentials__text-link {
  border-bottom: #2D3440 1px solid;
}

.breadcrumbs {
  margin-bottom: 16px;
  margin-top: 31px;
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: nowrap;
}

.breadcrumbs__item:not(:first-of-type) {
  display: grid;
  grid-template-columns: 28px 1fr;
}

.breadcrumbs__item:not(:first-of-type)::before {
  content: "";
  display: block;
  width: 28px;
  height: 20px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: 11px 9px;
}

.breadcrumbs__link {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  display: block;
}

.breadcrumbs__link--selected {
  border-bottom: 1px solid #2D3440;
}

.catalog-caption {
  font-family: inherit;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2D3440;
  display: block;
  margin: 0;
  margin-bottom: 40px;
}

.filter {
  margin-bottom: 44px;
}

.filter__form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  width: 900px;
}

.filter-caption {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
  display: block;
  margin-left: 16px;
  margin-top: 0;
  margin-bottom: 8px;
}

.filter__sorting-dropdown {
  width: 196px;
  height: 36px;
  border-radius: 20px;
  background-color: #FCFCFC66;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
  padding-left: 16px;
  -webkit-appearance: none;
  background-image: url("../images/select-down.svg");
  background-repeat: no-repeat;
  background-position: 170px 16px;
  border: none;
  cursor: pointer;
}

.filter__sorting-dropdown:hover {
  background-color: #FCFCFC80;
}

.filter__sorting-dropdown:focus {
  outline: 2px solid #FCFCFC;
}

.filter__price-slider {
  width: 196px;
  height: 36px;
  border-radius: 20px;
  background-color: #FCFCFC66;
  position: relative;
}

.filter__price-slider::before {
  content: "";
  height: 2px;
  width: 164px;
  display: block;
  background-color: #565C66;
  position: absolute;
  top: 18px;
  left: 16px;
  opacity: 0.3;
}

.filter__price-button {
  text-indent: -9999em;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: none;
  background-color: #FCFCFC;
  box-shadow: inset 0 0 0 6px #2D3440;
  position: absolute;
  top: 11px;
  cursor: pointer;
  z-index: 2;
}

.filter__price-interval {
  content: "";
  height: 2px;
  width: 62px;
  display: block;
  background-color: #565C66;
  position: absolute;
  top: 18px;
  left: 52px;
  z-index: 1;
}

.filter__price-button:hover {
  background-color: #2D3440;
  box-shadow: inset 0 0 0 6px #FCFCFC;
}

.filter__price-button:active {
  box-shadow: inset 0 0 0 8px #2D3440;
}

.filter__price-button:focus {
  background-color: #2D3440;
  box-shadow: inset 0 0 0 6px #FCFCFC;
  outline: 2px solid #2D3440;
}

.low-range-button {
  left: 40px;
}

.high-range-button {
  left: 112px;
}

.fat__list {
  display: flex;
  flex-wrap: nowrap;
  min-width: fit-content;
  padding: 8px 24px 8px 32px;
  min-height: 36px;
  border-radius: 20px;
  background-color: #FCFCFC66;
  max-width: 830px;
  flex-wrap: wrap;
  gap: 5px 0;
}

.fat__item {
  display: flex;
  position: relative;
}

.fat__item:not(:first-of-type) {
  margin-left: 9px;
}

.fat__label {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
  display: block;
  margin-right: 16px;
  margin-left: 16px;
  cursor: pointer;
}

.fat__label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -6px;
  width: 16px;
  height: 16px;
  background-image: url("../images/radio-empty.svg");
  background-repeat: no-repeat;
}

.fat__radio:checked ~ .fat__label::before {
  background-image: url("../images/radio-full.svg");
}

.fat__radio:checked:hover ~ .fat__label::before {
  background-image: url("../images/radio-hov-tick.svg");
}

.fat__radio:hover ~ .fat__label::before {
  background-image: url("../images/radio-hov-untick.svg");
}

.fat__radio:checked:focus-visible ~ .fat__label::before {
  background-image: url("../images/radio-hov-tick.svg");
}

.fat__radio:focus-visible ~ .fat__label::before {
  background-image: url("../images/radio-hov-untick.svg");
}

.fat__radio:checked:focus ~ .fat__label::before {
  background-image: url("../images/radio-hov-tick.svg");
}

.fat__radio:focus ~ .fat__label::before {
  background-image: url("../images/radio-hov-untick.svg");
}

.fat__radio:checked:disabled ~ .fat__label::before {
  background-image: url("../images/radio-dis-tick.svg");
}

.fat__radio:disabled ~ .fat__label::before {
  background-image: url("../images/radio-dis-untick.svg");
}

.fat__item:last-of-type .fat__label {
  margin-right: 0;
}

.fill__list {
  display: flex;
  min-width: fit-content;
  padding: 10px 24px 8px 32px;
  min-height: 40px;
  border-radius: 20px;
  background-color: #FCFCFC66;
  max-width: 830px;
  flex-wrap: wrap;
  gap: 5px 0;
}

.fill__item {
  position: relative;
}

.fill__label {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
  display: block;
  margin-right: 25px;
  margin-left: 16px;
  cursor: pointer;
}

.fill__label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -8px;
  width: 16px;
  height: 16px;
  background-image: url("../images/checkbox-empty.svg");
  background-repeat: no-repeat;
}

.fill__checkbox:checked ~ .fill__label::before {
  background-image: url("../images/checkbox-full.svg");
}

.fill__checkbox:hover:checked ~ .fill__label::before {
  background-image: url("../images/checkbox-hov-tick.svg");
}

.fill__checkbox:hover ~ .fill__label::before {
  background-image: url("../images/checkbox-hov-untick.svg");
}

.fill__checkbox:focus-visible:checked ~ .fill__label::before {
  background-image: url("../images/checkbox-hov-tick.svg");
}

.fill__checkbox:focus-visible ~ .fill__label::before {
  background-image: url("../images/checkbox-hov-untick.svg");
}

.fill__checkbox:focus:checked ~ .fill__label::before {
  background-image: url("../images/checkbox-hov-tick.svg");
}

.fill__checkbox:focus ~ .fill__label::before {
  background-image: url("../images/checkbox-hov-untick.svg");
}

.fill__checkbox:disabled:checked ~ .fill__label::before {
  background-image: url("../images/checkbox-dis-tick.svg");
}

.fill__checkbox:disabled ~ .fill__label::before {
  background-image: url("../images/checkbox-dis-untick.svg");
}

.fill__item:last-of-type .fill__label {
  margin-right: 0;
}

.filter__button {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  border-radius: 26px;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 30px;
  height: 36px;
  width: 185px;
  outline: 2px solid #FCFCFC;
  background-color: #FCFCFC4D;
  padding-top: 8px;
  margin-left: -6px;
}

.filter__button:hover {
  background-color: #FCFCFC;
  outline: 2px solid #FCFCFC4D;
}

.filter__button:active {
  background-color: #FCFCFC80;
  outline: none;
}

.filter__button:focus {
  background-color: #FCFCFC4D;
  outline: 2px solid #2D3440;
  outline-offset: 0;
}

.filter__button:disabled {
  background-color: #FCFCFC4D;
  outline: 2px solid #FCFCFC;
  outline-offset: 0;
  opacity: 0.4;
}

.catalog-gallery {
  margin-bottom: 85px;
}

.catalog-gallery .shop__list {
  margin-bottom: 57px;
}

.catalog-gallery__pagination-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-gallery__button {
  margin-left: 487px;
}

.pagination {
  height: fit-content;
  align-self: center;
}

.pagination__list {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
}

.pagination-arrow .pagination__link {
  display: block;
  text-indent: -9999em;
  white-space: nowrap;
  overflow: hidden;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 8px 5px;
}

.pagination-arrow-left .pagination__link {
  background-image: url("../images/pagination-left.svg");
}

.pagination-arrow-right .pagination__link {
  background-image: url("../images/pagination-right.svg");
}

.pagination__item {
  width: 24px;
  height: 24px;
}

.pagination__link {
  width: 24px;
  height: 24px;
  display: block;
  text-align: center;
  border-radius: 50%;
}

.pagination__link:hover {
  background-color: #FCFCFC80;
}

.pagination__link:active {
  background-color: #FCFCFC80;
  box-shadow: inset 0 0 0 1px #FCFCFC;
}

.pagination__link:focus-visible {
  background-color: #FCFCFC4D;
  box-shadow: inset 0 0 0 1px #2D3440;
  outline: none;
}

.pagination__link--selected {
  background-color: #FCFCFC;
  border-radius: 50%;
}

.popup {
  top: 0;
  left: 0;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #2D34404D;
}

.popup__container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.popup__window {
  position: absolute;
  width: 570px;
  min-height: 545px;
  background-color: #FCFCFC;
  opacity: 1.0;
  top: 295px;
  left: 300px;
  border-radius: 8px;
  padding: 64px;
  padding-bottom: 66px;
}

.popup__caption {
  font-family: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
  margin: 0;
  margin-bottom: 32px;
}

.popup__close-button {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  text-indent: -9999em;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  background-color: #FCFCFC;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: 3px 3px;
  cursor: pointer;
}

.grey-input {
  width: 442px;
  height: 48px;
  border: none;
  outline: 1px solid #B9B9B9;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  display: block;
  margin-bottom: 16px;
}

.grey-input::placeholder {
  color: #B9B9B9;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.popup__textarea {
  width: 442px;
  min-height: 149px;
  height: 149px;
  border: none;
  outline: 1px solid #B9B9B9;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 14px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 27px;
  resize: vertical;
}

.popup__textarea::placeholder {
  color: #B9B9B9;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.popup__send-button {
  display: block;
  width: fit-content;
  margin-left: auto;
  text-decoration: none;
}

.popup--closed {
  display: none;
}

.stop-scrolling {
  height: 100%;
  overflow-y: hidden;
}

.text-input {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #2D3440;
}

.text-input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #B9B9B9;
}

.text-input:hover {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #2D3440;
  outline: 1px solid #2D3440;
}

.text-input:focus {
  outline: 2px solid #2D3440;
}

.text-input:invalid {
  outline: 1px solid #EA5454;
}

.text-input:invalid:hover {
  outline: 2px solid #EA5454;
}

.text-input:disabled {
  background-color: #E7E7E7;
  outline: 1px solid #B9B9B9;
}

.text-input:disabled::placeholder {
  color: #2D3440A6;
}

.text-input:hover:disabled::placeholder {
  color: #2D3440;
}
